body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
#nav{
width: calc(100%-2px);
height: 85px;
padding-top: 5px;
padding-bottom: 25px;
border: 1px solid rgb(226, 226, 226);
}
#title{
    text-align: center;
    margin: 10px auto 35px auto
}
#imgHome{
    background-image: url(../img/jane.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#imgAbout{
    background-image: url(../img/jane2.jpg);
    width: 490px;
    height: 490px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.ulnav{
    padding: 0px;
    text-align: center;
}
.linav{
    display: inline-block;
    margin: 0 10px;
}
#footer{
    width: 100%;
    background-color: rgb(226, 226, 226);
    text-align: center;
    padding: 10px 0;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
#mainabout{
    text-align: center;
    margin: 70px 0;
}
#mainmusic{
    margin: 70px 0 70px 200px;
}
#floatleft{
float: left;
}
#mapa{
float: right;
margin: 40px 0;
}
#container{
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
}
#mensagem{
    resize: none;
    width: 100%
}
#email{
    width: 100%
}
#nome{
    width: 100%
}